{% extends "layout_guidance.html" %}

{% block page_title %}
  Pattern: service names
{% endblock %}

{% block content %}

<main id="content" role="main">

{% include "includes/phase_banner_beta.html" %}

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Pattern
      <br></span>Service names
      </h1>

      <p class="lede">
      What to call it is the most important conversation you can have about a service. 
      </p>

      <p class="lede">
      If you do this well, you'll make it easier for users to find and understand your service. 
      </p>

    <br>

    <p class="design-update">
    Last updated: 15 July 2016
    </h3>

    <br>
    <br>

  </div>
</div>

<div class="grid-row">
    <div class="column-one-third">

  <ol class="list list-bullet pattern_nav">
    <li><a href="#1">good services are verbs</a></li>
    <li><a href="#2">describe the problem</a></li>
    <li><a href="#3">use the words user use</a></li>
    <li><a href="#4">case study</a></li>
    <li><a href="#5">measure name performance</a></li>
    <!--
    <li><a href="#6">measuring how it's working</a></li>
    <li><a href="#7">check before start in your service</a></li>
    -->
  </ol>

  </div>

  <div class="column-two-thirds">

  <h3 class="heading-medium" id="1" style="margin-top: 0px;">Good services are verbs</h3>

  <p>Good services are verbs, bad services are nouns.</p>

  <p>Examples of good service names:</p>

  <ul class="list list-bullet">
    <li><a href="https://www.gov.uk/register-to-vote">Register to vote</a>, CO</li>
    <li><a href="#">Help with fees</a>, MoJ</a>
    <li><a href="#">Renew passport</a>, HO,</li>
    <li><a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship</a>, BIS</li>
  </ul>

  <p>Verb are good becasue they describe the task</p>

  <hr>

  <h3 class="heading-medium" id="2">Describe the problem</h3>

  <p>Some text</p>

  <hr>

  <h3 class="heading-medium" id="3">Use the words users use</h3>

  <p>Some text</p>

  <hr>

  <h3 class="heading-medium" id="4">Case study</h3>

  <p>Some text</p>

  <hr>

  <h3 class="heading-medium" id="5">Measure name performance</h3>

  <p>Some text</p>

    </div>
  </div>

    </div>
  </div>

</main>

{% endblock %}


