{% extends "layout.html" %}

{% block page_title %}
  Pattern: service names
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li>
        <a href="/task_list">Home</a>
      </li>
      <li>
        Design
      </li> 
      <li>
        Find patterns
      </li> 
    </ol>
  </div>

<div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge"><span class="design-pattern">Pattern
      <br></span>Service names
      </h1>

    <p class="design-update">
    Last updated: two weeks agao
    </h3>

    <br>
    <br>

  </div>
</div>

<div class="grid-row">
    <div class="column-one-third">

      <p class="bold">Page contents:</p>

      <ol class="list list-bullet pattern_nav">
        <li><a href="#1">why service names are important</a></li>
        <li><a href="#1">how to name your service</a></li>
        <li><a href="#1">examples of good service names</a></li>
        <li><a href="#5">measure name performance</a></li>
      </ol>

      </div>

      <div class="column-two-thirds">

      <h3 class="heading-medium" id="1" style="margin-top: 0px;">Why service names are important</h3>

      <p>
        What to call a service is the most important conversation a service team can have.  
      </p>

      <p>
        Do it well, you'll make your service:
      </p>

      <ul class="list list-bullet">
        <li>easier to find</li>
        <li>clearer to understand</a>
        <li>have less calls from users asking 'how do I...?'</a>
      </ul>

      <hr>

      <h3 class="heading-medium" id="2">How to name your service</h3>

      <p>There are principles you can follow to name your service.</p>

      <p>Good service names:</p>

      <ul class="list list-bullet">
        <li>come from user research</li>
        <li>describe the problem it solves for a user</a>
        <li>describe a task, not a technology</li>
        <li>are verbs, not nouns</li>
        <li>use the words users use</li>
        <li>don't have government names in them</li>
        <li>don't change with policy or technology</li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="3">Examples</h3>

      <p>Examples of good service names:</p>

      <ul class="list list-bullet">
        <li><a href="https://www.gov.uk/register-to-vote">Register to vote</a></li>
        <li><a href="#">Help with court fees</a></a>
        <li><a href="#">Renew passport</a></li>
        <li><a href="https://www.gov.uk/apply-apprenticeship">Find an apprenticeship</a></li>
      </ul>

      <hr>

      <h3 class="heading-medium" id="5">Measure performance</h3>

      <p>There are metrics that indicate how a service name is performing:</p>

      <ul class="list list-bullet">
        <li>increased page views from organic search</li>
        <li>click through rate to a 'Start' button</li>
        <li>external search volumes between old and new name</li>
        <li>reduce number of on page searches about the service</li>
        <li>number of users calling to ask "How do I...?"</li>
      </ul>

    </div>
  </div>

</main>

{% endblock %}


